@import "./base/vars";
@import "./base/listas";
@import "./base/maps";
@import "./base/extend";

@import "./componentes/header";
@import "./componentes/footer";
@import "./componentes/contacto";
@import "./componentes/produc";
@import "./componentes/reparto";
@import "./componentes/temporadas";


* {
    padding: 0;
    margin: 0;
}

main {
    margin: auto;
    padding: 10px;
}

body {
    max-width: 100%;
    background: rgb(255, 20, 20);
    background: -moz-linear-gradient(90deg, rgba(255, 20, 20, 1) 0%, rgba(23, 2, 2, 1) 0%, rgba(25, 7, 7, 1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(255, 20, 20, 1) 0%, rgba(23, 2, 2, 1) 0%, rgba(25, 7, 7, 1) 100%);
    background: linear-gradient(90deg, rgba(255, 20, 20, 1) 0%, rgba(23, 2, 2, 1) 0%, rgba(25, 7, 7, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff1414", endColorstr="#190707", GradientType=1);
    .portada{
       width: 100%;
       height: 100%;
     }

}

p {
    color: $color_2;
    font-style: oblique;
    font-size: x-large;
}

h2 {
    text-align: center;
    color: $color_1;
    font-style: oblique;
    font-size: xx-large;
    padding: 10px;
    text-decoration-line: underline;
}

.botones {
    @extend %dis-flex;
  img{
    width: 50px;
    height: 50px;
    border-radius: 50px;
   }
}

.botones-boton {
    background-color: $background-color_2;
    color: $color_2;
    text-decoration: none;
    font-style: oblique;
    font-size: large;
    border: solid 3px nth($colores, 3);
    padding: 10px;
    margin: 10px;
    border-radius: 60px;
}

.botones:hover{
    transform: scale(1.2);
    transition: all 2s;
}



.images {
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 50%);


    .images-orden {
        img {
            width: 98%;
            height: 98%;
            border: groove 10px $background-color_2;
            border-radius: 20px;

        }
        :hover{
            transform: scale(1.02);
            transition: all 2s;
        }

        &:nth-child(1) {
            grid-row-start: span 2;
        }
    }
}


.parrafos {
    color: $color_1;
    text-align: center;
    min-width: 250px;
}