
h1 {
    color: $color_1;
    background-color: $background-color_1;
    font-style: oblique;
    font-size: xx-large;
    padding: 10px;
    display: inline-flex;
    border-bottom-right-radius: 20px;
}
header {
    nav {
        ul {
            li {
                    list-style: none;
                    display: block;
                    margin-bottom: 20px;
                
                a {
                    background-color:map-get($deco , bg-c );
                    color: $color_2;
                    text-decoration: map-get($deco , t-d );
                    border: map-get($deco , border );
                    padding: 5px;
                    margin: 5px;
                    border-radius: 10px;
                }
            }
        }

        img {
            width: 100%;
            height: 100%;
        }
    }
}